<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

    <!-- 모든 제품 조회 -->
    <select id="getAllProducts" resultType="ProductVO">
        SELECT product_id, product_name, description, product_image 
        FROM Products
    </select>

    <!-- 제품 추가 -->
    <insert id="insertProduct" parameterType="kr.ac.kopo.board.vo.ProductVO">
        INSERT INTO Products (product_name, description, product_image) 
        VALUES (#{productName}, #{description}, #{productImage})
    </insert>

    <!-- 제품 삭제 -->
    <delete id="deleteProduct" parameterType="kr.ac.kopo.board.vo.ProductVO">
        DELETE FROM Products WHERE product_id = #{productId}
    </delete>
</mapper>
